* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mobile-width: 375px;
  --desktop-width: 100vw;
  --main-font: "Poppins", sans-serif;
  --dark-color1: #000;
  --neutral-color1: #ccc;
  --accent-color1: #27e1c1;
  --transparent-accent: rgba(39, 225, 193, 0.4);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--mobile-width);
  margin: 0 auto;
  font-family: var(--main-font);
  scroll-behavior: smooth;
}

.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent !important;
  min-width: var(--mobile-width);
}

#logo {
  width: 130px;
}

.burger-icon {
  font-size: 30px;
  cursor: pointer;
  margin-right: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 10px -5px rgba(0, 0, 0, 0.3);
  margin-bottom: 1px;
}

ul {
  text-align: center;
}

li {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-align: center;
}

.hide {
  max-height: 0 !important;
  overflow: hidden;
  transition: max-height 250ms ease-out;
}

#navbar {
  max-height: 700px;
  transition: max-height 250ms ease-in;
}

.navbar-link {
  min-width: 100%;
  display: block;
  transition: background-color 250ms ease-in-out;
  padding: 0.3rem 0;

}

.navbar-link:hover {
  background-color: var(--transparent-accent);  
}

#home {
  background-image: url(./assets/img/background1.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 1000px var(--transparent-accent);
  color: #fff;
}

#explore {
  text-transform: uppercase;
  margin: 0.5rem 0 0 0;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 0 0.5rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

#explore:hover {
  background-color: white;
  color: var(--accent-color1);
}

p {
  text-align: justify;
}

section {
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight {
  color: var(--accent-color1);
}

#home-button {
  position: fixed;
  bottom: 5%;
  align-self: flex-end; 
  background-color: #27e1c1;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: -10px 5px 15px 0 rgba(0, 0, 0, 0.2);
}

#about, #tours{
  background-color: #eee;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.hide-button {
  display: none;
}